.group-item {
    margin-bottom: 3px; 
    margin-left: 0px;
    margin-right: 0px;
}

.group-item__link {
  display: block;
  text-align: left;
  text-indent: 3%;
  list-style-type: none;
  height: 40px;
  width: 100%;
  color: #1775D2;
  background: rgba(162, 203, 240, 0.15);
  padding: 7px;
}

.group-item__link:hover,
.group-item__link:focus,
.group-item__link.active {
  background: rgba(3, 109, 207, 0.77);
  color: #FFFFFF;
}
